{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_header_wrapper %}{% endblock %}
{% block content_footer_wrapper %}{% endblock %}


{% block main %}
    <h1>Newsletter</h1>
{% endblock %}
