{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changement des rôles de {{ user.email }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Changer le rôle" class="btn btn-warning">
    {{ form_end(form) }}

{% endblock %}
