{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
