{% extends 'base.html.twig' %}

{% block title %}Inscription Client{% endblock %}

{% block body %}
    <h1>Inscription Client</h1>
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn btn-primary">S'inscrire en tant que client</button>
    {{ form_end(registrationForm) }}
{% endblock %}
