{% extends 'base.html.twig' %}

{% block title %}Zone d'administration{% endblock %}

{% block body %}
    <h1>Zone d'administration</h1>

    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Les utilisateurs</div>
                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ path('admin_user_list') }}" class="text-white">Liste des utilisateurs</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
