{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire d'ajout</h1>

    <form method="post">
        <input type="text" name="astre">
        <input type="submit">
    </form>
{% endblock %}

