{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="mt-2">Présentation des produits</h1>

        {% include 'product/_list.html.twig' with {products : products} %}
    </main>
{% endblock %}