{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ product.name }}
        <small>
            <div class="badge badge-info">
                {{ product.price }}€
            </div>
        </small>
    </h1>
    <p>{{ product.description }}</p>
{% endblock %}