{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification d'un tag</h1>

    {{ form_start(updateForm) }}
        {{ form_widget(updateForm) }}
        <input type="submit" value="Modifier le tag" class="btn btn-warning">
    {{ form_end(updateForm) }}
{% endblock %}

