<h1>Salut !!!!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis culpa distinctio, ea earum enim nisi nostrum provident quisquam reiciendis vitae? Deleniti doloribus hic inventore nesciunt placeat, praesentium quisquam quos repellat!</p>

<ul style="display: flex">
    <li>Puce 1</li>
    <li>Puce 2</li>
    <li>Puce 3</li>
</ul>

